#pg_sign,
#pg_sign body { width:100%; height:100%; }
#pg_sign h1 { text-align:center; }
#pg_sign .content { position:relative; height:300px; top:50%; margin-top:-150px; }
#pg_sign .center { width:800px; height:300px; min-height:300px; margin:0 auto; }
#pg_sign .footer { position:absolute; bottom:0; }
#signInForm { margin-left:160px; }
